-- ============================================================
-- SVU Community — Expanded Seed Data (10x)
-- ============================================================
-- This script adds ~10x more test data on top of 001_seed.sql.
-- Run AFTER 001_seed.sql.
--
-- How to run:
--   1. Start Supabase: supabase start
--   2. Apply migrations: supabase db reset
--   3. Run seed: supabase db execute --file supabase/seed/001_seed.sql
--   4. Run expanded seed: supabase db execute --file supabase/seed/002_expanded_seed.sql
-- ============================================================

-- ============================================================
-- 1. ADDITIONAL AUTH USERS
-- ============================================================

-- ============================================================
-- 2. ADDITIONAL PROFILES
-- ============================================================

-- ============================================================
-- 3. ADDITIONAL DISCOVERED MAJORS
-- ============================================================

-- ============================================================
-- 4. ADDITIONAL DISCOVERED INSTRUCTORS
-- ============================================================

-- ============================================================
-- 5. ADDITIONAL DISCOVERED COURSES
-- ============================================================

-- ============================================================
-- 6. ADDITIONAL USER COURSE PROGRESS
-- ============================================================

-- ============================================================
-- 7. ADDITIONAL SUBJECT REFERENCES
-- ============================================================

-- ============================================================
-- 8. ADDITIONAL STUDY GROUPS
-- ============================================================

-- ============================================================
-- 9. ADDITIONAL GROUP MEMBERS
-- ============================================================

-- Update group member counts
UPDATE public.groups g
SET current_members = (
  SELECT COUNT(*) FROM public.group_members gm WHERE gm.group_id = g.id
);

-- ============================================================
-- 10. ADDITIONAL TESTS
-- ============================================================

-- ============================================================
-- 11. ADDITIONAL TEST RATINGS
-- ============================================================

-- ============================================================
-- 12. ADDITIONAL TEST ATTEMPTS
-- ============================================================

-- ============================================================
-- 13. ADDITIONAL NOTIFICATIONS
-- ============================================================

-- ============================================================
-- 14. ADDITIONAL RAW EXTRACTIONS
-- ============================================================

-- ============================================================
-- 16. ADDITIONAL ADMIN AUDIT LOG
-- ============================================================

-- ============================================================
-- 17. ADDITIONAL RATE LIMITS
-- ============================================================

-- ============================================================
-- 18. ADDITIONAL PLATFORM REVIEWS
-- ============================================================

-- ============================================================
-- Expanded Seed Complete!
-- ============================================================

